@media screen and (max-width: 1200px){
	.video-banner-content h1 {
	    max-width: 570px;
	    font-size: 50px;
	}

	.ft-top-content p {
		font-size: 50px;
	}

	.header {
	    padding: 10px 0;
	}

	.sec-heading h2 {
	    font-size: 50px;
	    line-height: 70px;
	}

	.about-big-text p, .b-text,
	.sec-heading > p {
	    font-size: 24px;
	    line-height: 36px;
	}

	.work-slider-box {
	    margin-top: 60px;
	}

	.about-big-text {
	    padding-top: 50px;
	    padding-bottom: 30px;
	}

	.section-gapping, section {
	    padding-bottom: 60px;
	    padding-top: 60px;
	}

	.service-list ul li:nth-child(odd) .service-info {
	    padding-left: 50px;
	}

	.service-list ul li:nth-child(even) .service-info {
	    padding-right: 50px;
	}

	.work-banner {
	    padding: 0% 0 0;
	}

	html body {
	    padding-top: 75px;
	}

	.work-category-tab ul li a {
	    font-size: 18px;
	}

	.work-menu-list ul li a {
	    font-size: 16px;
	}

	.work-menu-list ul li,
	.work-category-tab ul li {
	    padding: 0 1%;
	}

	.work-menu-list {
	    margin-bottom: 30px;
	}

	.work-list ul li {
	    max-width: calc(100% / 3);
	    padding: 10px;
	}
}

@media screen and (max-width: 991px) {
	.video-banner-content,
	.header .container {
	    padding: 0 20px;
	}

	.menu-block {
	    display: none;
	}

	.togglebtn {
		display: flex;
	}

	.mobile-menu {
		display: block;
	}

	.ft-top-content p,
	.video-banner-content h1 {
	    max-width: 500px;
	    font-size: 40px;
	}

	.ft-top-content p{
		max-width: 100%;
	}

	.footer-top {
	    padding-bottom: 0;
	}

	.footer-box,
	.footer-menu-box {
	    max-width: 33.33%;
	}

	.sec-heading h2 {
	    font-size: 40px;
	    line-height: 50px;
	}

	.about-big-text p, .b-text,
	.sec-heading > p {
	    font-size: 20px;
	    line-height: 26px;
	}

	.work-slider-box {
	    margin-top: 40px;
	}

	span.blog-date,
	.blog-content > p {
	    font-size: 16px;
	}

	.core-value-list li {
	    max-width: calc(100% / 2);
	    margin-bottom: -10px;
	}

	.team-list > ul > li {
	    max-width: calc(100% / 2 - 15px);
	}

	.sec-heading {
	    padding-bottom: 40px;
	}

	.team-list > ul > li .work-bottom-info {
	    flex-wrap: wrap;
	}

	.team-list > ul > li .work-bottom-info p {
	    width: 100%;
	}

	.work-list ul li {
	    max-width: calc(100% / 2);
	}

	.ser-head {
	    margin-bottom: 50px;
	}

	.service-info-left h4 {
	    font-size: 26px;
	}

	.service-info-box {
	    padding-top: 20px;
	    margin-bottom: 20px;
	}

	body h3 {
	    font-size: 24px;
	}

	.service-info-box p {
	    font-size: 20px;
	    line-height: normal;
	}

	.service-info-last-right h2 {
	    font-size: 26px;
	}

	.service-info-last-right p {
	    font-size: 18px;
	    line-height: normal;
	}

	.ser-head * {
	    font-size: 16px;
	}

	.ser-head {
	    margin-bottom: 30px;
	}

@media screen and (max-width: 767px){
	.video-banner > video {
	    object-fit: cover;
	}

	.video-banner-content h1 {
	    font-size: 40px;
	    padding-top: 20%;
	    line-height: normal;
	}

	.video-banner {
	    padding-top: 100%;
	}

	.ft-top-content p{
	    font-size: 30px;
	}

	.footer-box, .footer-menu-box {
	    max-width: 100%;
	    padding: 40px 0 0 0;
	}

	.footer-middle {
	    padding-bottom: 30px;
	}

	.copyright p {
		font-size: 12px;
	}

	.footer-middle {
	    padding-top: 0px;
	    padding-top: 40px;
	}

	.ft-top-content p {
	    font-size: 24px;
	}

	.sec-heading h2 {
	    font-size: 26px;
	    line-height: normal;
	}

	.about-big-text p, .b-text, .sec-heading > p {
	    font-size: 18px;
	    line-height: normal;
	}

	.sec-heading {
	    padding-bottom: 40px;
	}

	span.head-count {
	    width: 22px;
	    height: 22px;
	    font-size: 10px;
	}

	.head-top-design p {
	    font-size: 14px;
	}

	a.logo {
	    max-width: 110px;
	}

	.sec-heading {
	    padding-bottom: 40px;
	    padding-left: 10px;
	    padding-top: 15px;
	}

	.about-big-text {
	    padding-top: 40px;
	    padding-bottom: 30px;
	}

	.service-list ul li:nth-child(odd) .service-info {
	    padding-left: 0;
	}

	.service-list ul li .service-info {
	    max-width: 100%;
	}

	.service-list ul li .service-img {
	    max-width: 100%;
	    padding-top: 100%;
	    margin-bottom: 15px;
	}

	.service-info h3 {
	    margin-bottom: 10px;
	    font-size: 24px;
	}

	.service-info .btn {
	    margin-top: 10px;
	}

	.service-list ul li:not(:last-child) {
	    padding-bottom: 50px;
	}

	.service-list ul li:nth-child(even) .service-info {
	    padding-right: 0;
	}

	.service-list ul li:nth-child(even) .service-info {
	    padding-right: 0;
	    order: 1;
	}

	.work-sec .about-big-text {
		padding-bottom: 0;
	}

	.work-home-list-part {
	    padding-top: 40px;
	}

	.work-home-list-part .work-list ul li {
	    max-width: calc(100% / 1 - 0px);
	}	

	.work-home-list-part .work-list ul li:first-child ~ li {
	    margin-top: 0;
	}

	.work-home-list-part .work-list ul li:not(:last-child) {
		margin-bottom: 40px;
	}

	.work-bottom-info {
	    padding: 10px 0;
	}

	.work-bottom-info * {
	    font-size: 16px !important;
	}

	.testimonial-slide-left {
	    max-width: 100%;
	    padding-left: 0;
	    margin-bottom: 15px;
	    padding-top: 30px;
	}

	.testimonial-slide-right {
	    max-width: 100%;
	}

	.testimonial-slide-right .work-bottom-info {
	    margin-bottom: 20px;
	}

	.work-bottom-info-block p {
	    font-size: 16px;
	}

	.container-lg, .header .container {
	    padding: 0 15px;
	}

	.about-banner p {
	    font-size: 18px;
	    padding-top: 40px;
	}

	.section-gapping, section {
	    padding-bottom: 50px;
	    padding-top: 50px;
	}

	.vm-image-left {
	    max-width: 100%;
	    padding-right: 0;
	}

	.vm-info-part p {
	    font-size: 18px;
	}

	.vm-info-part {
	    max-width: 100%;
	    padding-bottom: 0;
	    padding-top: 20px;
	}

	.vm-info-part span {
	    font-size: 16px;
	}

	.vision-part.vm-part {
	    padding-bottom: 0;
	}

	.mission-part.vm-part .vm-image-left {
	    padding-right: 0;
	    padding-left: 0;
	    order: -1;
	}

	.mission-part.vm-part {
	    padding-top: 40px;
	}

	.core-value-list li {
	    max-width: calc(100% / 1);
	    margin-bottom: 0;
	    padding: 15px 0;
	}

	.team-list > ul > li {
	    max-width: calc(100% / 1 - 0px);
	}

	.team-list > ul > li ~ li {
	    margin-top: 0;
	}

	.team-list > ul > li:not(:last-child) {
		padding-bottom: 30px;
	}

	.core-value-list li:before {
	    width: 19px;
	    height: 19px;
	    margin-bottom: 15px;
	}

	.core-value-list li b {
	    padding-bottom: 8px;
	}

	.sec-heading:after {
	    max-height: calc(100% - 50%);
	}
	
	.service-banner .service-list ul li:not(:last-child) {
		padding-bottom: 0;
	}

	.footer-middle > .container > .row > div:first-child {
	    padding-top: 0;
	}

	.footer-top {
		padding-top: 40px;
	}

	html body {
	    padding-top: 59px;
	}

	.work-category-tab ul li a {
	    font-size: 14px;
	}

	.work-menu-list, .work-category-tab {
	    overflow: auto;
	    -ms-overflow-style: none;  /* IE and Edge */
	     scrollbar-width: none;  /* Firefox */
	    margin-right: -15px;
	}

	.work-category-tab::-webkit-scrollbar,
	.work-menu-list::-webkit-scrollbar {
	  display: none;
	}

	.work-menu-list ul,
	.work-category-tab ul {
	    display: block;
	    white-space: nowrap;
	}

	.work-menu-list ul li,
	.work-category-tab ul li {
		display: inline-block;
	}

	.work-menu-list {
	    margin-bottom: 30px;
	    margin-top: 0;
	    border-top: 0;
	    border-left: 0;
	    border-right: 0;
	}

	.work-list ul li {
	    max-width: calc(100% / 1);
	    padding: 0;
	}
	.work-list ul li:not(:last-child) {
		margin-bottom: 40px;
	}

	.filed-2-row > div {
	    max-width: calc(100% / 1 - 0px);
	}

	.field-row {
		margin-bottom: 0;
	}

	.address-block {
	    padding-top: 40px;
	}

	.address-box a {
	    font-size: 16px;
	}

	.address-social ul li a {
	    padding: 6px 5px;
	    font-size: 12px;
	}

	.address-box:last-child {
		margin-bottom: 0;
	}

	.field-mgs textarea{
		margin-bottom: 20px;
	}
	
	.field-row .field {
	    margin-bottom: 10px;
	}

	.service-info-left {
	    max-width: 100%;
	    padding-right: 0;
	    position: static;
	    padding: 10px 0 20px;
	}

	.service-info-right {
	    max-width: 100%;
	}

	.ser-head {
	    margin-bottom: 20px;
	}

	.service-info-box p {
	    font-size: 16px;
	}

	.service-info-last-left {
	    max-width: 100%;
	}

	.service-info-last-right {
	    width: 100%;
	    max-width: 100%;
	    padding-left: 0;
	    padding-top: 20px;
	}

	.service-info-last-row {
	    padding-top: 40px;
	}

	.loader-img {
	    max-width: 100px;
	    max-height: 100px;
	}

	.loader-img img {
	    max-width: 70px;
	}
}

@media screen and (max-width: 376px) {
	.video-banner-content h1 {
	    font-size: 24px;
	    line-height: 150%;
	    padding-top: 15%;
	}

	.video-banner {
	    padding-top: 80%;
	}
}